[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = v3_req
prompt             = no

[ req_distinguished_name ]
C  = EN                                   # Code du pays
ST = washington                        # État ou province
L  = washington                                # Ville
O  = 5BSS                         # Nom de l'organisation
OU = Votre Unité Organisationnelle        # Unité organisationnelle
CN = s4e-elevatai.com                  # Nom commun (domaine principal)

[ v3_req ]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = s4e-elevatai.com               # Domaine principal
DNS.2 = www.s4e-elevatai.com           # Sous-domaine www
DNS.3 = pgadmin.s4e-elevatai.com       # Sous-domaine pgAdmin
DNS.4 = api.s4e-elevatai.com           # Autre sous-domaine
